@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}


#wrap {
    width: 100%;
    background: url(../images/background.png) no-repeat center / cover;
}

.in_wrap {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    width: 100%;
    height: 100px;
    border-bottom: 1.5px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu {
    width: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu > li {
    font-size: 20px;
    text-align: center;
}

.menu li:hover a{
    color: #15E2A8;
}

.mo_menu {
    display: none;
}

/*섹션1*/

section {
    width: 100%;
}

.in_sec {
    width: calc(100vw - 100px);
    margin: 0 auto;
    padding: 120px 0 145px 0;
}

.in_sec > h2 {
    text-align: center;
    font-size: 48px;
}

.in_box {
    width: 60.5rem;
    display: flex;
    margin: 50px auto 0;
    align-items: center;
    justify-content: space-between;
}

.photoFrame {
    width: 31.875rem;
    height: 44.5rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    transform: rotateY(180deg);
}

.photoFrame.on {
    transform: rotateY(0deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back {
    background-color: #999999;
    transform: rotateY(180deg);
}

.question {
    position: absolute;
    font-size: 300px;
    text-align: center;
    top: 150px;
    left: 180px;
}

.cli {
    font-size: 32px;
    position: absolute;
    bottom: 210px;
    left: 50%;
    transform: translateX(-50%);
}

.profileFrame {
    width: 24.125rem;
    height: 44.5rem;
    position: relative;
}

.in_profile {
    width: 100%;
    height: 29.625rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-family: 'pretendard', sans-serif;
    font-size: 18px;
    letter-spacing: -2.5%;
    font-weight: 500;
    line-height: 150%;
}

.in_profile p {
    margin-top: 7px;
}

.flex {
    display: flex;
}

.flex .color {
    color: #15E2A8;
}

.flex > div > p {
    margin-top: 0;
}

.flex > div > p:first-child {
    margin-top: 7px;
}

/*섹션2*/

.in_sec2 {
    width: calc(100vw - 100px);
    margin: 0 auto;
    padding: 60px 0 120px 0;
}

.in_sec2 > h2 {
    font-size: 48px;
    text-align: center;
}

.skill_box {
    max-width: 1234px;
    height: 364px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 50px auto 0;
}

.skill1 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.skill {
    max-width: 269px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill_img {
    width: 100%;
    height: 268px;
}

.skill_name {
    width: 100%;
    height: 70px;
    margin-top: 15px;
}

.skill_img >img {
    width: 100%;
    height: 100%;
}

.size {
    font-size: 18px;
    text-align: center;
    font-family: 'pretendard', sans-serif;
    font-weight: 700;
}

.skill_star span {
    color: white;
}

.skill_star {
    color: #F0D526;
}

/*세션3*/

#sec3 {
    position: relative;
}

.tabmenu {
    
    display: flex;
    margin: 50px auto 0;
    align-items: center;
    justify-content: center;
    gap: 80px;
    font-size: 20px;
    cursor: pointer;
}

.on {
    color: #15E2A8;
}

.on a {
    color: #15E2A8;
}

.tabmenu li:hover {
    color: #15E2A8;
}


.tabcon {
    max-width: 1440px;
    height: 544px;
    background-color: rgba(255 , 255, 255, 0.8);
    margin: 60px auto 0;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.tabbox {
    width: 5760px;
    height: 100%;
    display: flex;
    transition: transform 0.7s ease;
}

.container {
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_con {
    width: 459px;
    height: 282px;
    margin-left: clamp(40px, 9.58vw, 184px);
}

.logo {
    width: 150px;
    height: auto;
}

.logo img {
    width: 100%;
    height: 100%;
}

.textbox {
    margin-top: 13px;
    color: #000;
}

.mainT {
    font-size: 18px;
}

.useprogram {
    margin-top: 15px;
    color: #5a5a5a;
}

.direct {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    color: #000;
    
}

.project_go{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.project_go:hover {
    text-decoration: underline;
}

.design a {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #000;
}

.design a:hover {
    text-decoration: underline;
}


.arrow {
    width: 12px;
    height: auto;
}

.arrow img {
    width: 100%;
    height: 100%;
}

.right_con {
    width: 613px;
    height: 514px;
    margin: 15px clamp(30px, 5vw, 142px) 0 0;
}

.right_con img {
    width: 100%;
    height: 100%;
}

/*프로젝트 탭*/

.tab_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.newtab {
    width: min(1440px, 90vw);
    height: 850px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    overflow: hidden;
    display: none;
}

.pcclosed {
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
}

.pcclosed .pcclose {
    font-size: 40px;
    color: #000;
}

.tabimg {
    width: 100%;
    height: 750px;
    margin: 0 auto;
    overflow-y: auto;
}

.tabimg img {
    width: 100%;
    height: auto;
}

/*섹션4*/

.detailBox {
    width: 890px;
    height: 515px;
    margin: 45px auto;
    display: flex;
    gap: 20px;
}

.onebox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.big {
    width: 435px;
    height: 300px;
    cursor: pointer;
}

.bigquiet {
    background: url(../images/backquiet.png) no-repeat center / cover;
}


.backdimd {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(6px);
}

.bigfont {
    font-size: 48px;
}

.small {
    width: 283px;
    height: 195px;
    align-self: flex-end;
    cursor: pointer;
}

.smallted {
    background: url(../images/backted.png) no-repeat center / cover;
}

.smallfont {
    font-size: 40px;
}

.smallcarol {
    background: url(../images/backtrum.png) no-repeat center / cover;
}

.bigcannon {
    background: url(../images/backsax.png) no-repeat center / cover;
}

.twobox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.start {
    align-self: flex-start;
}


.tab_bg2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/*섹션5*/

.contact {
    font-size: 32px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*섹션6*/

.tha {
    font-size: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*푸터*/

footer {
    height: 100px;
    border-top: 1px solid #fff;
}

.in_foot {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

