@media all and (max-width: 1280px) {

    header {
        height: 80px;
        justify-content: end;
    }

    .menu {
        display: none;
    }

    .ham {
        width: 24px;
        height: 24px;
        position: relative;
        margin-right: 20px;
        cursor: pointer;
    }

    .line {
        background-color: #fff;
        height: 1.5px;
        position: absolute;
        right: 0;
    }

    .top {
        width: 22px;
        top: 0;
    }

    .middle {
        width: 17px;
        top: 50%;
        transform: translateY(-50%);
    }

    .bottom {
        width: 25px;
        bottom: 0;
    }

    .mo_menu {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 100px;
        right: 0;
        z-index: 9999;
        padding: 60px;
        display: none;
        text-align: right;
    }

    .closed {
        width: 100%;
        height: 40px;
        cursor: pointer;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 40px;
    }

    .closed .close {
        width: 40px;
        height: 40px;
        font-size: 50px;
    }

    .mo_menu > li {
        width: 100%;
        height: auto;
        font-size: 23px;
        line-height: 100px;
        margin-bottom: 16px;
    }

    .mo_menu > li:last-child {
        margin-bottom: 0;
    }

    .mo_menu li:hover a{
        color: #15E2A8;
    }

    .dimd {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        display: none;
    }

    /*섹션1*/

    .in_sec {
        width: 90%;
        padding: 80px 0 80px 0;
    }

    .in_sec > h2 {
        font-size: 32px;
    }

    .in_box {
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
    }

    .photoFrame {
        width: 310px;
        height: 512px;
    }

    .question {
        font-size: 200px;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
    }

    .cli {
        font-size: 28px;
        bottom: 140px;
    }

    .profileFrame {
        width: 22rem;
        height: 24rem;
        margin-top: 40px;
    }

    .in_profile {
        height: auto;
        font-size: 16px;
        line-height: 140%;
    }

    /*섹션2*/

    .in_sec2 {
        padding: 40px 0 100px 0;
    }

    .in_sec2 > h2 {
        font-size: 32px;
    }

    .skill_box {
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 30px;
    }

    .skill1 {
        gap: 30px;
    }

    .skill {
        width: 215px;
    }

    .skill_img {
        height: 214px;
    }

    .skill_name {
        height: 56px;
    }

    .size {
        font-size: 16px;
    }

    .skill_star {
        margin-top: 5px;
    }

    /*섹션3*/

    .tabmenu {
        margin: 40px auto 0;
        font-size: 18px;
    }

    .tabcon {
        max-width: 768px;
        height: 800px;
        margin: 40px auto 0;
    }

    .container {
        max-width: 1280px;
        flex-direction: column-reverse;
    }

    .mowrap {
        width: 768px;
    }

    .left_con {
        width: 512px;
        margin-left: 0;
        margin: 0 auto;
    }

    .logo {
        width: 120px;
    }

    .right_con {
        width: 580px;
        height: 481px;
        margin: 0 auto;
    }

    /*섹션4*/

    .detailBox {
        width: calc(100vw - 80px);
        height: auto;
        flex-direction: column;
    }

    .onebox, .twobox {
        align-items: center;
    }

    .big {
        align-items: center;
    }

    .small {
        width: 435px;
        height: 300px;
        align-self: center;
    }

    .motab {
        height: auto;
    }

    .bigfont, .smallfont {
        font-size: 32px;
    }

    /*섹션5*/

    .contact {
        font-size: 28px;
        margin-top: 40px;
    }

    /*섹션6*/

    .tha {
        font-size: 80px;
    }

}